<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:sharedUserId="android.uid.system"
          package="org.lineageos.device.NubiaParts.gamekeys"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-permission android:name="android.permission.VIBRATE" />

<application
        android:label="@string/app_title"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:exported="false">
<service
    android:name=".GameKeyTileService"
    android:icon="@drawable/ic_tile_icon"
    android:exported="true"
    android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
    <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
    </intent-filter>

    <meta-data
        android:name="android.service.quicksettings.TILE_ICON"
        android:resource="@drawable/ic_tile_icon" />
    <meta-data
        android:name="android.service.quicksettings.TILE_LABEL"
        android:value="Game Keys" />
</service>

<receiver android:name=".ScreenStateReceiver" 
    android:exported="false">
</receiver>
</application>

</manifest>